# Compiled files
/target
veribp
veripb-amd64

# Profiling data
*.data
*.data.old
*.svg
profile.json.gz

# Demo screenshots (exception to *.svg above)
!demos/img/*.svg

# Temporary files
*.out
out.pbp
out_v2.pbp
out_v3.pbp
*.trace

.*
/veripb
/veripb
